*{
	margin: 0px;
	padding: 0px;
	font-family: 'Press Start 2p';
}

main{
	padding: 100px;
}

#metalman{
	background: conic-gradient(#FFF200, #ED1C24, #FFF200, #ED1C24 50%, #ED1C24 60%, #FFF200);
}

#metalmanheader{
	height: 250px;
	width: 100%;
	display: flex;
}

#megamanlogo{
	height:100px;
	width: 10%;
}

nav{
	height: 100px;
	width: 100%;
	background: #000;
	display: flex;
	position: fixed;
	z-index: 1;
	box-shadow: 0px 15px 100px black;
}

#links{
	padding-right: 20px;
	align-items: center;
	width: 90%;
	padding-top: 10px;
}

#info{
	width: 100%;
	height: auto;
	display: flex;
	font-size: 25px;
}

#prep{
	background: #00000050;
	width: 50%;
	height: auto;
	padding: 25px;
	margin-right: 10px;
}

#ad{
	background: #00000050;
	width: 30%;
	height: auto;
	padding: 25px;
	margin-left: 10px;
}

#srat{
	background: #00000050;
	width: 60%;
	height: auto;
	padding: 25px;
	margin-right: 10px;
}

#after{
	background: #00000050;
	width: 70%;
	height: auto;
	padding: 25px;
	margin-left: 10px;
}